.DS_Store
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
Rplots.pdf
data/cog_data/
data/coverage_data/
data/ecdc_data/
data/google_data/
data/gov_uk_data/
data/ined_data/
data/ltccovid_data/*.pdf
data/ons_data/
data/owid_data/
data/phe_data/
data/uk_data/
data/who_data/
figs/*
output/*
!output/2021-11-03/
output/2021-11-03/backcalculation_output.RData
