*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/cog_data/
data/coverage_data/
data/ecdc_data/
data/google_data/
data/gov_uk_data/
data/ined_data/
data/ltccovid_data/*.pdf
data/ons_data/
data/owid_data/
data/phe_data/
data/uk_data/
data/who_data/
figs/*
output/*
